            <div class="group-nav">

              <ul class="menu">
                <li class="{{active.home}}"><a href="/group/{{gid}}"><i class="fas fa-chevron-left"></i> <i class="fas fa-home"></i></a>
                <li class="{{active.forum}}"><a href="/group/{{gid}}/forum">discussions</a>
                <li class="{{active.resources}}"><a
href="/group/{{gid}}/resources">resources</a>
                {% if logged_in %}
                <li class="{{active.members}}"><a href="/group/{{gid}}/members">members</a>
                {% endif %}
              </ul>

            </div>

