{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{% include '@spacebase/includes/header.html.twig' %}

{# Top Bar #}
{% if page.topbar %}
    {% block topbar %}
        <div class="top-bar">
            <div class="inner {{ container }}">
                {{ page.topbar }}
            </div>
        </div>
    {% endblock %}
{% endif %}

{# Main #}
{% block main %}
    <div role="main" class="main-container private-message-container {{ container }} js-quickedit-main-content">

        {# Header #}
        {% if page.header %}
            <div class="row header-row">
                {% block header %}
                    <div class="col-sm-12" role="heading">
                        {{ page.header }}
                    </div>
                {% endblock %}
            </div>
        {% endif %}
        <div class="row content-row">

            {# Content #}
            {%
                set content_classes = [
                page.sidebar_first ? 'col-sm-6',
                page.sidebar_first is empty ? 'col-sm-12',
                'box'
            ]
            %}
            <section{{ content_attributes.addClass(content_classes) }}>

                {# Highlighted #}
                {% if page.highlighted %}
                    {% block highlighted %}
                        <div class="highlighted">{{ page.highlighted }}</div>
                    {% endblock %}
                {% endif %}

                {# Help #}
                {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                {% endif %}

                {# Content #}
                {% block content %}
                    <a id="main-content"></a>
                    {{ page.content }}
                {% endblock %}
            </section>

            {# Sidebar First - needs to come after content for private_message #}
            {% if page.sidebar_first %}
                {% block sidebar_first %}
                    <aside class="col-sm-6 sidebar-first" role="complementary">
                        {{ page.sidebar_first }}
                    </aside>
                {% endblock %}
            {% endif %}

        </div>
    </div>
{% endblock %}

{% include '@spacebase/includes/footer.html.twig' %}

<div class="body-overlay"></div>
