<div class="profile-thumb">
  <a href="/u/{{ fields.name.content|render|striptags|trim }}">{{ fields.user_picture.content }}</a>
</div>
<h3><a href="/u/{{ fields.name.content|render|striptags|trim }}">{{ fields.field_first_name_user.content }} {{ fields.field_last_name_user.content }}</a></h3>

<div class="organization-role">
  {{ fields.field_organization_role.content }}
</div>
<div class="bio hidden">
  
</div>